@{
    ViewBag.Title = "Home page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="body-style">
    <div class="jumbotron">
        <h1 class="intro">Welcome to Musicast Web!</h1>
        <h4 class="intro">This site has great possibilities for people, who love music. Here is the list of main opportunities</h4>
    </div>
    <div class="row">
        <div class="panel panel-info col-sm-offset-0 col-sm-12">
            <div class="panel-heading">Use full power of our synth to create amazing sounds</div>
            <img class="introimg" src="@Url.Content("../Images/synth.png")" alt="Synth" />
        </div>
        <div class="panel panel-success col-sm-offset-0 col-sm-12">
            <div class="panel-heading">Create patterns for synth that will be great</div>
            <img class="introimg" src="@Url.Content("../Images/pattern.png")" alt="Pattern" />
        </div>
        <div class="panel panel-success col-sm-offset-0 col-sm-12">
            <div class="panel-heading">Create dirrerent drum patterns</div>
            <img class="introimg" src="@Url.Content("../Images/drum.png")" alt="Drum" />
        </div>
        <div class="panel panel-warning col-sm-offset-0 col-sm-12">
            <div class="panel-heading">Create amazing sequences of patterns to make great song</div>
            <img class="introimg" src="@Url.Content("../Images/pattern_list.png")" alt="Pattern list" />
        </div>
        <div class="panel panel-warning col-sm-offset-0 col-sm-12">
            <div class="panel-heading">See all pictures of great artists in one page</div>
            <img class="introimg" src="@Url.Content("../Images/musicgen.png")" alt="MusicGen" />
        </div>
        <div class="panel panel-default col-sm-offset-0 col-sm-12">
            <div class="panel-heading">Play music generated from pictures</div>
            <img class="introimg" src="@Url.Content("../Images/player.png")" alt="Player" />
        </div>
        <div class="panel panel-default col-sm-offset-0 col-sm-12">
            <div class="panel-heading">Use chat to connect with other people</div>
            <img class="introimg" src="@Url.Content("../Images/chat.png")" alt="Chat" />
        </div>
    </div>
</body>
</html>
