@model Musicast_Web_MVC.Models.Picture
@{
    ViewBag.Title = "Create";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/normalize.css" rel="stylesheet">
    <link href="~/Content/MYXJGM.css" rel="stylesheet prefetch">
    <title></title>
</head>
<body class="body-style">
    @using (Html.BeginForm("Create", "MusicGen", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <div class="panel panel-primary">
            <div class="panel-heading">Add picture</div>
            <div class="innerPanel">
                <label>Author</label>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Author)
                    @Html.ValidationMessageFor(model => model.Author)
                </div>

                <label>Name</label>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <label>Description</label>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <label>Picture file</label>
                <div class="editor-field">
                    <input type="file" class="btn btn-default" name="uploadImage" />
                </div>

                <p class="editor-field">
                    <input type="submit" class="btn btn-success" value="Add" />
                </p>
            </div>
        </div>
    }

    <div class="col-xs-0">
        <a href="@Url.Action("MusicGen")" class="btn btn-primary" role="button">Return to list</a>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


