@model Musicast_Web_MVC.Models.Picture
@{
    ViewBag.Title = "Delete";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/normalize.css" rel="stylesheet">
    <link href="~/Content/MYXJGM.css" rel="stylesheet prefetch">
    <title></title>
</head>
<body class="body-style">
    <h2>Delete picture</h2>
    <dl>
        <dt>Author</dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>Name</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Picture</dt>
        <dd>
            @Html.Raw("<img class='image' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Image) + "\" />")
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>Key</dt>
        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }

    <div class="editor-field">
        @Html.ActionLink("Return to list", "MusicGen")
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
